/************************************ HEADER ************************************/

.deutschland header li:nth-child(2) a {
	background-color: white;
	border-radius: 5px;
	color: red;
	
    text-decoration: none;
}

.everything header li:nth-child(3) a {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

.aboutme header li:nth-child(4) a {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

/************************************ MAIN ************************************/

.fixed-bg {  /*for fixed baclground picture*/
	background-position: bottom;
	background-size: cover;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: -1;		
}

.deutschland .fixed-bg {
	background-image: url('../image/heros/weingarten.jpg');
	bottom: 33px; /* to adjust position of background picture */
}

.everything .fixed-bg {
	background-image: url('../image/heros/london-sky.jpg');
	bottom: 0;
}

.aboutme .fixed-bg {
	background-image: url('../image/heros/vine.jpg');
}

/******************************** GALLERY ******************/

.photopage main>.wrapper {
	align-items: center; /* to justify rows with images horizontally */
    display: flex;
    flex-direction: column; /* to lay raws from top to bottom */
    padding-top: 5vh;
}

.photopage .wrapper .margin.row { /* special row to hide photographs */
	height: 83vh; 
	max-width: 100%;
}

.photopage .row {
	display: flex;
	justify-content: space-between; 
	max-width: 100%;
	padding: 13px 0;
}

.photopage .row:nth-child(even) {
/*    justify-content: space-around;*/
    max-width: 96%;
}

.gallery .row div, .my_photo {
    border: 10px solid #242424; /* because it doesn't work properly applied to images within flexbox*/
	flex: 0 1 auto; /* determine auto shrinking / growing */
} 

.photopage .row div {
	margin: 0 20px;
}

.gallery .row:nth-of-type(even) div:first-of-type {
    margin-right: 2.3vw;
}

.gallery .row:nth-of-type(even) div:nth-of-type(2) {
    margin-left: 2.3vw;
}

/* you need to put every img into inside div to keep it aspect ratio */
.photopage img {
    display: block; /* to fit in div! */
    height: 100%; /* to fit in div! */
	width: 100%;   /* without this all is going pear-shaped */
}

.aboutme .inscription {
	border: 10px solid white;
	background-color: #242424;
	color: white;
	font-family: "Oswald", sans-serif;
	font-size: 34px;
	height: auto;
	line-height: 5vh;
	max-width: 640px;
}

.inscription p {
	padding: 0 20px;
}


/************************************ MEDIA ***********************************/
/*********************************** QUERIES **********************************/



@media(max-width: 1600px) {
	.photopage .row div {	border-width: 8px; }	
}

@media(max-width: 1150px) {
	.photopage .row div { border-width: 6px; }
	.aboutme .inscription p { font-size: 20px; }

}

@media(max-width: 950px) and (orientation: portrait) { 
	/* pictures in one column only for portrait
		because it can't look fine at lnadscape */
	.photopage .row {
		flex-direction: column;
		max-width: 90%; /* pictures better fit in on small viewports */
		padding: 0;
	}
	
	.photopage .row:nth-of-type(even) {
		/* make the same width with three_img row */
		max-width: 90%;
	}
	
	.photopage .row div {
		/*column view needs another margins than row view */
		margin: 10px 0;
	}
	
    .photopage .row:nth-of-type(even) div:first-of-type, .photopage .row:nth-of-type(even) div:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0;
	}
}

@media(max-width: 800px) {
	.aboutme .row {
		width: 85%;
	}
}

@media(max-width: 736px) and (orientation: portrait) {
	.aboutme .inscription p { font-size: 4vw; }
}

@media(max-width: 550px) and (orientation: landscape) {
	.aboutme .inscription p { 
		font-size: 1.8vw;
		padding: 0 10px;
	}
}

/**************** UNDER CONCTRACTION ***************/

#under_const main {
    display: table;
    height: 500px;
    width: 100%;
}

#under_const .middle {
    display: table-cell;
    vertical-align: middle;
}

#under_const .middle .inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}
