html {
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 90px; /* to shift MAIN container below fixed header */
	padding-bottom: 54px; /* same about fixed footer  */
}

.wrapper {
	height: auto;
	margin: 0 auto;
	max-width: 1500px;
	width: auto;
}

html, header, footer {
	min-width: 320px;
}

/************************************ HEADER ************************************/

header {
	background-color: #242424;
	border-bottom: 4px solid black;
	border-top: none;
	position: fixed; /* to fix header */
	top: 0; /* to fix header */
	width: 100%; /* to fit header that shrinks because of position: fixed */
	z-index: 2;
}

header h1 {
	float: left;
	font-size: 48px;
	margin: 0;
	padding: 20px 0;
}

header h1 a {
	color: white;
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	margin: 0px;
}

header h1 a:hover {
	color: red;
	text-decoration: none;
}

header ul {
	float: right;
	margin: 0;
	padding: 35px 0;
}

header ul li {
	display: inline-block;
	list-style-type: none;
}

header li a {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 10px;
}

header li a:hover, header li a:active, header li a:focus {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

#main header li:first-child a {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

.clearer {
	clear: both; /* crutch to fix float issues */
}

/************************************ MAIN ************************************/

.quotation, .hero_image { /*adjusting divs' size with aspect ratio due to width of viewport */
	height: 42.2vw;
	width: 100%;
}

.hero_image {
/*	background-image: url('http://placehold.it/1920x1080');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero_image:first-child {
	background-image: url('../image/heros/ln-new-logo.jpg');	
}

.hero_image:nth-child(3) {
	background-image: url('../image/heros/FH.jpg');
	background-position: bottom;

}

.hero_image:nth-child(5) {
	background-image: url('../image/heros/auto.jpg');
	/*background-image: url('../image/weimgarten_field.jpg');*/
	background-position: bottom;
}

.hero_image, .quotation {
	/*max-height: 950px;*/
}

.quotation {
	background-color: #242424;
	display: table; /* to center div vertically */
	margin: 0;
	/*margin-top: -10px; /*get rid of strange gap */
	/*position: absolute; /* to center div vertically */		
}

.quotation .middle {
	display: table-cell; /* to center div vertically */
	vertical-align: middle; /* to center div vertically */
}

.quotation .middle .inner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

.quotation .inner p {
	display: inline;
	color: white;
	font-size: 3vw;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	white-space: normal;
}

/************************************ FOOTER ************************************/

footer {
	background-color: #242424;
	bottom: 0;
	border-top: 4px solid black;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	position: fixed;
	width: 100%;
	z-index: 2; /* to keep footer above main content */	
}

.inner_wrapper {
	margin: 0 auto;
	width: 100%;
}

footer p {
	color: white;
	float: right;
	margin: 0;
	padding: 17px 0;	
}

footer ul {
	float: left;
	margin: 0; 
	padding: 10px 0;
}

footer ul li {
	display: inline-block;
	list-style-type: none;
	padding: 7px;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active {
	color: red;
	text-decoration: none;
}



/************************************ MEDIA ************************************/

@media (max-width: 1600px) {
	.wrapper { 
		max-width: 1100px;
	}
}

@media (max-width: 1150px) {
	.wrapper {
		max-width: 900px;
	}
}

@media(max-width: 950px) {
	body {
		padding-top: 140px; /*to return body back because header doesn't fixed anymore */
	} 	
	
	header h1 {
		display: block;
		float: none;
		margin: 0 auto;
		padding-bottom: 5px;
		text-align: center;
	}  
	
	header ul {
		display: block;
		float: none!important;
		margin: 0 auto;
		text-align: center;
		padding-top: 7px;
		width: 90%; /* idk why exactly 90% but it works for centering" */ 
	}
	
	header li {
		display: inline-block;
	}
	
	.inner_wrapper {
		margin: 0 20px;
		width: auto;
	}
}

/*
@media(max-width: 500px) {
	.quotation .inner p {
		font-size: 15px;
	}
}
*/

@media screen and (max-width: 460px), screen and (max-height: 800px) {
	body {
		padding-bottom: 40px;
		padding-top: 81px;
		/*made padding smaller because for mobile screens header and footer are smaller */
	}
	
	header h1 {
		font-size: 30px;
		padding-top: 10px;
	}
	
	header ul {
		padding-bottom: 10px;
		padding-top: 3px;
	}
	
	header ul li a {
		font-size: 10px;
		padding: 5px;
	}
	
	.quotation .middle .inner {
		width: 75%; /* more space for text in quotation */
	}
	
	.quotation .inner p {
		font-size: 15px;
	}
	
	footer {
		font-size: 12px;
	}
	
	footer ul {
		padding: 3px 0;
	}
	
	footer p {
		padding: 10px 0;
	}
	
}

@media(max-width: 320px) {
	.hero_image, .quotation {
		width: 320px;
/*		height: 222px;*/
	}
}

/************************************ HEROS' SIZES ************************************/

/******** tablets *********/

@media (max-height: 1366px) and (max-width: 1024px) and (orientation: portrait) { /* Apple iPad Pro portrait */
	.hero_image {
		height: 1230px;
	}
	
	.hero_image:nth-child(5) {
		background-position: right;
	}
	
	.quotation {
		height: 615px;
	}
}

@media (max-height: 1366px) and (max-width: 768px) and (orientation: portrait) { /* Apple iPad Pro portrait */
	.hero_image {
		height: 1190px;
	}
	
	.quotation {
		height: 595px;
	}
}

@media (max-height: 1280px) and (max-width: 800px) and (orientation: portrait) { /* Samsung Galaxy Tab 3 10" portrait */
	.hero_image {
		height: 1090px;
	}
	
	.quotation {
		height: 545px;
	}
}

@media (max-height: 1024px) and (max-width: 768px) and (orientation: portrait) { /*Apple Ipad Mini portrait */
	.hero_image {
		height: 835px;
	}
	
	.quotation {
		height: 417px;
	}
}

/******** smartphones ********/

@media(max-height: 966px) and (max-width: 604px) and (orientation: portrait) { /* ASUS Nexus 7 v1 portrait */
	.hero_image {
		height: 773px;
	}
	
	.quotation {
		height: 350px;
	}
}


@media(max-height: 800px) and (max-width: 480px) and (orientation: portrait) { /* Amazon Kindle Fire HD 7 portrait */
	.hero_image {
		height: 623px;
	}
	
	.quotation {
		height: 311px;
	}

	body {
		padding-bottom: 40px;
		padding-top: 81px;
		/*adjust because another header and footer size */
	}
	
/** smaller header and footer, smaller font and bigger quotation width */	
	header h1 {
		font-size: 30px;
		padding-top: 10px;
	}
	
	header ul {
		padding-bottom: 10px;
		padding-top: 3px;
	}
	
	header ul li a {
		font-size: 10px;
		padding: 5px;
	}
	
	.quotation .middle .inner {
		width: 75%; /* more space for text in quotation */
	}
	
	.quotation .inner p {
		font-size: 15px;
	}
	
	footer {
		font-size: 12px;
	}
	
	footer ul {
		padding: 3px 0;
	}
	
	footer p {		
	}
	
}

@media(max-height: 736px) and (max-width: 414px) { /* Apple iPhone 6 Plus, 6s Plus portrait */
	.hero_image {
		height: 625px;
	}

	.quotation {
		height: 312px;
	}
}


@media(max-height: 695px) and (max-width: 412px) /* portrait */ { 
	.hero_image {
		height: 577px;
	}

	.quotation {
		height: 289px;
	}
}


@media(max-height: 667px) and (max-width: 375px) { /*iPhone 6, 7 portrait */
	.hero_image {
		height: 552px;
	}
	
	.quotation {
		height: 276px;
	}
}

@media(max-height: 640px) and (max-width: 400px) { /*Galaxy S6, S7 portrait */
	.hero_image {
		height: 522px;
	}
	
	.quotation {
		height: 261px;
	}
}

@media(max-height: 600px) and (max-width: 360px) { /*xperia z3 portrait */
	.hero_image {
		height: 482px;
	}
	.quotation {
		height: 239px;
	}
}

@media(max-height: 568px) and (max-width: 320px) { /* iphone 5 portrait */
	.hero_image {
		height: 449px;
	}
	.quotation {
		height: 224px;
	}
}

@media(max-height: 533px) and (max-width: 320px) { /* galaxy S, S2, S3 mini portrait */
	.hero_image {
		height: 416px;
	}
	.quotation {
		height: 207px;
	}
}

@media(max-height: 480px) and (max-width: 390px) { /*iphone 4 portrait */
	.hero_image {
		height: 360px;
	}
	.quotation {
		height: 180px;
	}
}

	
@media(max-height: 320px) and (max-width: 480px) { /*iPhone 4 landscape */

padding: 10px 0;
	
/* heros and quos height */	
	.hero_image {
		height: 200px;
	}
	.quotation {
		height: 200px;
	}
}
