html {font-size: 16px;}

html, body {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 90px; /* to shift MAIN container below fixed header */
	padding-bottom: 54px; /* same about fixed footer  */
}

.wrapper {
	height: auto;
	margin: 0 auto;
	max-width: 1500px;
	width: auto;
}

html, header, footer {min-width: 320px;}

/************************************ HEADER ************************************/

header {
	background-color: #242424;
	border-bottom: 4px solid black;
	border-top: none;
	position: fixed; /* to fix header */
	top: 0; /* to fix header */
	width: 100%; /* to fit header that shrinks because of position: fixed */
	z-index: 2;
}

header h1 {
	float: left;
	font-size: 48px;
	margin: 0;
	padding: 20px 0;
}

header h1 a {
	color: white;
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	margin: 0px;
}

header h1 a:hover {
	color: red;
	text-decoration: none;
}

header ul {
	float: right;
	margin: 0;
	padding: 35px 0;
}

header ul li {
	display: inline-block;
	list-style-type: none;
}

header li a {
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 10px;
}

header li a:hover, header li a:active, header li a:focus {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

#main header li:first-child a {
	background-color: white;
	border-radius: 5px;
	color: red;
	text-decoration: none;
}

.clearer { clear: both; } /* crutch to fix float issues */

/************************************ MAIN ************************************/

.quotation, .hero_image { /*adjusting divs' size with aspect ratio due to width of viewport */
	width: 100%;
}

.hero_image {
/*	background-image: url('http://placehold.it/1920x1080');*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero_image, .quotation { height: calc(100vh - 150px); } /* the whole space between header and footer */

.hero_image:first-child {background-image: url('../image/heros/ln-new-logo.jpg');}

.hero_image:nth-child(3) {
	background-image: url('../image/heros/FH.jpg');
	background-position: bottom;

}

.hero_image:nth-child(5) {
	background-image: url('../image/heros/auto.jpg');
	background-position: bottom;
}

.quotation {
	background-color: #242424;
	display: table; /* to center div vertically */
	margin: 0;		
}

.quotation .middle {
	display: table-cell; /* to center div vertically */
	vertical-align: middle; /* to center div vertically */
}

.quotation .middle .inner {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
    max-width: 952px;
}

.quotation .inner p {
	display: inline;
	color: white;
	font-size: 3.5vw;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	white-space: normal;
}

/************************************ FOOTER ************************************/

footer {
	background-color: #242424;
	bottom: 0;
	border-top: 4px solid black;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	position: fixed;
	width: 100%;
	z-index: 2; /* to keep footer above main content */	
}

.inner_wrapper {
	margin: 0 auto;
	width: auto;
}

footer p {
	color: white;
	float: right;
	margin: 0;
	padding: 17px 0;	
}

footer ul {
	float: left;
	margin: 0; 
	padding: 10px 0;
}

footer ul li {
	display: inline-block;
	list-style-type: none;
	padding: 7px;
}

footer a {
	color: white;
	text-decoration: none;
}

footer a:hover, footer a:focus, footer a:active {
	color: red;
	text-decoration: none;
}



/************************************ MEDIA ************************************/

@media (max-width: 1600px) {
	.wrapper {max-width: 1100px;}
}

@media (max-width: 1150px) {
	.wrapper {max-width: 900px;}
}

@media(max-width: 950px) {
	.inner_wrapper {margin: 0 20px; /* to keep content of footer inside footer */}
}

@media(max-width: 950px) and (min-width: 801px), (orientation: portrait), (max-width: 597px) { 
	body {padding-top: 140px; /* because header is fixed */} 	
	
	header h1 {
		display: block;
		float: none;
		margin: 0 auto;
		padding-bottom: 5px;
		text-align: center;
	}  
	
	header ul {
		display: block;
		float: none!important;
		margin: 0 auto;
		text-align: center;
		padding-top: 7px;
		width: 90%; /* idk why exactly 90% but it works for centering" */ 
	}
	
	header li {display: inline-block;}
	
}

@media(min-height: 950px) and (orientation: portrait) {
	body {padding-top: 132px;}
	
	header ul {padding-bottom: 23px;}
}

@media(max-width: 950px) and (min-width: 801px) {
	body { /* offset from top of the page(body) because of fixed header */
		padding-top: 130px;
	}
	
	header ul {padding-bottom: 25px;}
}

@media(max-width: 800px) and (min-width: 597px) and (orientation: landscape) {
	body {padding-top: 57px;/* remove the gap between header and main div */}
}

@media(orientation: portrait) {
	.quotation .middle .inner {
		width: 75%; /* more space for text in quotation */
		max-width: 952px;
	}
}

@media(max-width: 800px) and (orientation: landscape), (max-width: 600px) and (orientation: portrait), (max-height: 480px) {
	body {
		padding-bottom: 40px;
		padding-top: 57px;
	}
	
	header h1 {
		padding: 10px;
		font-size: 30px;
	}
	
	header ul {padding: 16.5px;}
	
	header ul li a {
		font-size: 10px;
		padding: 5px;
	}
	
	.quotation .middle .inner {
		width: 75%; /* more space for text in quotation */
		max-width: 952px;
	}
	
	footer {font-size: 12px;}
	footer ul {padding: 3px 0;}
	footer p {padding: 10px 7px;}
}

@media(max-width: 597px) { /* set body and elements of header paddings for width < 597px */
	
	body {padding-top: 81px;}
	
	header h1 {padding-bottom: 5px;}
	
	header ul {
		padding-bottom: 10px;
		padding-top: 3px;
	}
}

@media(max-width: 320px) { /* to set min width of page */
	.hero_image, .quotation {width: 320px;}
}

@media (max-height: 1366px) and (max-width: 1024px) and (orientation: portrait) { /* Apple iPad Pro portrait */
	.quotation .inner p {font-size: 4.5vw;}
	.hero_image:nth-child(5) {background-position: right;} /* move picture because this way it looks better on small screens */
}

 /* @media(max-height: 716px) and (max-width: 414px) and (orientation: portrait) { 
	.quotation .inner p {font-size: 4.5vw;}
} I think this is useless but I am not sure */ 

@media(max-height: 414px) and (max-width: 736px) and (orientation: landscape) /* up to 414px heightS landscape  */ {
	.quotation .inner p {font-size: 3.5vw;}
}
